@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/fonts/GalanoGrotesque-Regular.eot');
    src: url('../../assets/fonts/GalanoGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GalanoGrotesque-Regular.woff2') format('woff2'),
        url('../../assets/fonts/GalanoGrotesque-Regular.woff') format('woff'),
        url('../../assets/fonts/GalanoGrotesque-Regular.svg#GalanoGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// @font-face {
//     font-family: 'Avenir Next Condensed';
//     src: url('../../assets/fonts/AvenirNextCondensed-Regular.eot');
//     src: url('../../assets/fonts/AvenirNextCondensed-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
//         url('../../assets/fonts/AvenirNextCondensed-Regular.woff') format('woff'),
//         url('../../assets/fonts/AvenirNextCondensed-Regular.svg#AvenirNextCondensed-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Monterey BT';
//     src: url('../../assets/fonts/MontereyBT-Regular.eot');
//     src: url('../../assets/fonts/MontereyBT-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/MontereyBT-Regular.woff2') format('woff2'),
//         url('../../assets/fonts/MontereyBT-Regular.woff') format('woff'),
//         url('../../assets/fonts/MontereyBT-Regular.svg#MontereyBT-Regular') format('svg');
//     font-weight: normal;
//     font-style: italic;
// }


@font-face {
    font-family: 'Sun Valley';
    src: url('../../assets/fonts/SunValley.eot');
    src: url('../../assets/fonts/SunValley.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/SunValley.woff2') format('woff2'),
        url('../../assets/fonts/SunValley.woff') format('woff'),
        url('../../assets/fonts/SunValley.svg#SunValley') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Grotesque Bold';
    src: url('../../assets/fonts/GalanoGrotesque-Bold.eot');
    src: url('../../assets/fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('../../assets/fonts/GalanoGrotesque-Bold.woff') format('woff'),
        url('../../assets/fonts/GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
// @font-face {
//     font-family: 'Impact';
//     src: url('../../assets/fonts/Impact.eot');
//     src: url('../../assets/fonts/Impact.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/Impact.woff2') format('woff2'),
//         url('../../assets/fonts/Impact.woff') format('woff'),
//         url('../../assets/fonts/Impact.svg#Impact') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

$body-font: 'Galano Grotesque';
$body-font-bold:'Galano Grotesque Bold';

.font-galano-grotesque {
    font-family:$body-font;
}


html, body, p, div, ul, li {
    font-family:$body-font;
}

.bold, strong, b {
    font-family:$body-font;
    font-weight:bold;
}

label {
    font-family:$body-font;
    font-weight:bold;
}