// Base: ONYX Init
@import "vendor/onyx_init";

@import "bootstrap-admin/asc_bootstrap_admin";

.ops-list-item {
  cursor: pointer;
}

#view-op-log {
  white-space: pre;
  max-height: 600px;
  overflow: scroll;
  padding-bottom: 30px;
  font-size: 65%;
  min-height: 100%;
}

#asc-operations-list {
  max-height: 400px;
  overflow: scroll;
}

.asc-op-config {
  display: none;
}

#asc-opstart-card {
  height: 465px;

  .card-body {
    max-height: 400px;
    overflow: scroll;
  }

  label {
    margin-bottom: 0;
  }

  .custom-control {
    label {
      font-size: $small-font-size;
      color: $text-muted;
      line-height: 1.8em;
    }
  }
}
