// Base: ONYX Init
@import "vendor/onyx_init";
@import "vendor/salient_init";
@import "foundation/fonts";

// @import 'vendor/bootstrap/bootstrap';

$asc-pink: #ff758c;
$asc-light-pink: #df92c1;
$asc-blue: #86aac5;
$asc-hot-pink: #be3d6b;

$asc-grey-lightest: #f5f5f5;

$color-text-body: #888888;
$color-text-muted: #969696;
$color-text-dark: #565a5c;

$color-error: #a00;
$color-success: #28a745;

$input-bg-color: rgba(0, 0, 0, 0.04);
$input-border-radius: 4px;
$input-border-width: 2px;

@import "vendor/slick/slick";
@import "vendor/slick/slick-theme";

@import "components/modals";
@import "components/notices";
@import "components/forms";
@import "components/stripe";

@import "templates/shared";
@import "templates/single-product";
@import "templates/cart";
@import "templates/signup-flow";
@import "templates/checkout";
@import "templates/my-account";
@import "templates/refer-a-friend";

/**
 * Helper Classes
 */

.muted,
.text-muted {
  color: $color-text-muted;
}

.dark,
.text-dark {
  color: $color-text-dark;
}

.smaller {
  font-size: 0.85em;
}

.text-center {
  text-align: center;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
		ASC General
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

// body,
// body * {
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

body p {
  line-height: 1.6 !important;
}

/**
 *	Site Header
 */

// Logo
#logo img {
  height: 117px !important;
  position: relative;
  top: -16px;
}

@include mobile {
  body #header-outer header#top #logo {
    max-height: 24px;

    img {
      height: 60px !important;
    }
  }
}
