$variant-select-gutter: 0.35em;

$color-option-unselected:#eaeaea;
$color-option-selected:#f6891d;

$label-font-family: Poppins,'MS Sans Serif', Geneva, sans-serif;


.gkc-subscribe-cta {
	margin:2em auto;
	display:flex;
	flex-flow:row wrap;
	font-family:$label-font-family;


	// Layout
	.image-container {
		width: 40%;

		img {
			width:auto;
			max-width:100%;
			display:block;
			margin:0 auto;
		}
	}
	
	.subscription-container {
		width: 60%;

		.subscription-container-inner {
			display:block;
			max-width:600px;
			margin:0 auto;
		}
	}

	@media screen and (max-width: 767px) {
		.subscription-container, .image-container {
			width: 100% !important;
		}
	}


	// Selector styling
	.variant-select {
		padding: 0;
		margin: 0  -#{$variant-select-gutter} 1em;
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;

		.variant-select__title {
			display:block;
			width:100%;
			font-size:14px;
			text-transform:uppercase;
			color:#444444;
			text-align:center;
			margin-bottom:0;
		}

		label.gkc-selectable-label {
			
			text-align: center;
			margin: $variant-select-gutter;
			flex: 1 1 auto;
			width:20%;
			display: block;
			cursor: pointer;
			padding: 10px 8px;
			white-space: nowrap;
			transition: all 0.2s ease-in-out;
			position:relative;
			box-sizing:border-box;
			font-family:$label-font-family;
			font-weight:500;
			
			border-radius:0.5em;
			border-width:2px;
			border-style:solid;
			
			border-color:$color-option-unselected;
			background-color: lighten( $color-option-unselected, 15%);

			@media screen and (max-width: 767px) {
				width:45%;
			}

			.label__subtitle {
				display:block;
				font-size:0.8em;
			}

			.label__badge--pill {
				display:block;
				position:absolute;
				bottom:-0.75em;
				right:-0.75em;
				border-radius:1em;
				padding:0 1em;
				font-size:0.8em;
				transition:inherit;
				font-weight:700;
				background-color:$color-option-unselected;
			}



			&:hover {
				border-color:darken($color-option-unselected, 15%);
				background-color:$color-option-unselected;

				.label__badge--pill {
					background-color: lighten( $color-option-selected, 25%) !important;
				}
			}
		}

		input {
			display:none;

			&:checked + label.gkc-selectable-label {
				border-color:$color-option-selected !important;
				background-color: lighten( $color-option-selected, 25%) !important;

				.label__badge--pill {
					color:#FFFFFF;
					background-color:$color-option-selected !important;
				}
			
			}
		}
	}

	.subscription-info {
		text-align: center;
		font-family:inherit;
		margin:1em 0;

		.subscription-renewal-frequency {
			margin-bottom:0.5em;
		}

		.subscription-price {
			font-weight:700;
		}

		.subscription-free-us-shipping {
			transition:all 0.2s ease;
			font-weight:700;
			opacity:1;
		}

		.subscription-cancellation {
			margin:0.5em 0;
		}
	}
}




// @media screen and (max-width: 767px) {
//     .subscription-container, .image-container {
//         width: 100% !important;
//     }
//     .variant-select label {
//         width: 45%;
//     }
// }
// .variant-select input {
//   display: none;
// }

.subscription-prepaid {
	display: none;
}
.subscription-prepaid p {
    margin-bottom: 0;
}
// .gkc--subscriptions {
//   display: flex;
// //   -webkit-flex-flow: row wrap;
//   justify-content: space-between;
// }

// .image-container {
//  width: 40%;
// }

// .subscription-container {
//   width: 60%;
// }

// .image-container img {
//   width: 100%;
// }

// .box-variant {
//   padding: 0;
//   margin: 0 -0.5em 1.5em;
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-flow: row wrap;
//   justify-content: space-around;
// }
// .box-variant label {
//   background: #f6891d;
//   text-align: center;
//   margin: 0.5em;
//   flex: 1 1 auto;
// }

// .subscription-type {
//   padding: 0;
//   margin: 0 -0.5em;
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }
// .subscription-type label {
//   background: #f6891d;
//   text-align: center;
//   margin: 0.5em;
//   flex: 1 1 auto;
// }

// .variant-select label {
//   display: block;
//   cursor: pointer;
//   padding: 10px;
//   font-weight: 700;
// }

// .variant-select label:hover {
//   transition: 0.4s ease-in-out;
//   background-color: #eaeaea;
// }

// .variant-select input:checked + label {
//   transition: 0.2s background-color ease-in-out;
//   background-color: #eaeaea;
//   border: 1px solid #f6891d;
// }

// .variant-select__title {
//   display: block;
//   vertical-align: middle;
// }

// .subscription-info {
//  text-align: center;
// }

.subscription-shipping, .subscription-price {
 font-size: 20px;
//  font-family: lucida sans unicode,georgia;
}
 
.subscription-shipping {
 font-weight: bold;
}

.variant-select__subtitle {
    font-size: 0.8em;
}

#subscriptionPurchase {
  background-color: #83b735;
  font-weight: 700;
  font-size: 1em;
  padding: 20px;
  width: 100%;
}

#subscriptionPurchase:hover {
  background-color: #b2d87a;
}