/**
 * Custom Form & Input Styling for ASC
 */

@mixin asc-selectable-selected() {
	border-color:$asc-hot-pink;
	background-color:rgba($asc-hot-pink, 0.2);
}

@mixin asc-selectable($selected-class: 'selected') {

	border-width:2px;
	cursor:pointer;
	transition:all 0.3s ease;
	border-style:solid;
	border-color:transparent;


	&.#{$selected-class} {

		@include asc-selectable-selected;
	}

}

.asc-selectable {

	@include asc-selectable;
}


.asc-hidden-input {
	display:none;
}


button, 
.button,
.nectar-button,
.step-btn,
.btn {
    font-family:$body-font !important;
    // font-weight:bold;
    letter-spacing:0.03em;
    text-transform:uppercase !important;
    -webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;

   	cursor:pointer;

    &[disabled] {
    	pointer-events:none;
    	opacity: 0.5;
    	cursor: not-allowed;
    }
     
}


// Custom fancy checkbox styling
label.checkbox-fancy {

	cursor:pointer;

	input[type="checkbox"] {
		display:none;
	}

	span.checkbox {
		display:inline-block;
		height:20px;
		width:20px;
		background-color:#CCCCCC;
		text-align:center;
		transition:all 0.2s ease;
		margin-right:0.5em;
		cursor:pointer;

		&:after {
			font-family:'FontAwesome';
			content:'\f00c';
			opacity:0;
			// vertical-align:middle;
			transition:all 0.2s ease;
			font-size:14px;
			line-height:12px;
			color:#FFFFFF;
			position: relative;
			top: -1px;
		}
	}

	input:not(:checked) ~ span.checkbox {

		&:hover {

			&:after {
				opacity:0.5;	
			}
		}
	}


	input:checked ~ span.checkbox {

		background-color:$asc-pink;

		&:after {
			opacity:1;
			color:#FFFFFF;
		}
	}
}

.onyx-form {

	.form-input-group {
		padding-bottom: 20px;
	}

	.form-input {
		input[type="radio"] {
			margin: -3px 1em 0 0;

			+ label {
				position:relative;

				&:before {
					display:block;
					position:absolute;
					box-sizing:border-box;
					width:20px;
					height:20px;
					border-radius:10px;
					background-color:#CCCCCC;
					left:-29px;
					top:-1px;
					content:' ';
					border:6px solid #CCCCCC;
					transition:all 0.3s ease;
				}
			}

			&:not(:checked) + label:hover {
				&:before {
					background-color:#AAAAAA;
				}
			}

			&:checked + label {

				&:before {
					border:6px solid $asc-pink;
					background-color:#FFFFFF;		
				}
				
			}
		}
	}
}

#subscription-frequency-modal {

	.form-input {

		label {
			line-height: 36px;
			cursor: pointer;
		}
	}
}