
.woocommerce {

	.woocommerce-message {
		background-color: pink !important;
	}

	.woocommerce-error {
		background-color: pink !important;
	}

	.woocommerce-info {
		background-color: pink !important;
	}
}

.onyx-notices-minimal {
	
	.alert {
		border:0;
		padding:0;
		background-color:transparent !important;
		font-weight:bold;

		&.alert-success {
			color:$color-success;
		}

		&.alert-danger {
			color:$color-error;
		}
	}
}