
/* Target the Credit Card */
#stripe-card-element {
    background: $input-bg-color !important;
    border-radius: $input-border-radius;
    padding: 10px 5px !important;
    margin: 5px 0px !important;
}