
.woocommerce {

	.cart {

		.woocommerce-cart-form__cart-item {

			.starter-set-subscription-description {
				color: #888;
				font-size: 11px;
				font-weight: 400;
				text-align: left;
			}

			.starter-set-subscription-start-date {
				display: inline-block;
				white-space: nowrap;
			}

			.product-quantity {

				&:not(.quantity) {
					text-align: center;
					font-size: 24px;
					height: 35px;
					font-weight: 600;
					color: #000;		
				}

				.quantity {
					min-width: 150px;
				}
			}
		}
	}
}