

html.flexbox body.woocommerce-checkout {

	form {
		.form-row {
			padding:0;


			& + .form-row:not(.form-row-last):not(.form-row-first) {
				// margin-left:8px;
			}

			
		}

	}

	.woocommerce-shipping-fields,
	.woocommerce-billing-fields {
		padding-right:0;
	}

	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		align-items:flex-end;
		justify-content: space-between;
		margin-left:-3px;
		margin-right:-3px;

		.form-row {
			margin-left:3px;
			margin-right:3px;
		}
	}

	.select2-container {
		vertical-align:baseline;
	}

	#shipping_first_name_field,
	#billing_first_name_field,
	#shipping_last_name_field,
	#billing_last_name_field {
		flex: 1 0 45%;
	}

	#billing_address_1_field,
	#shipping_address_1_field {
		width:50%;
		flex:60 0 50%;
		// margin-left:0;
	}

	#billing_address_2_field,
	#shipping_address_2_field {
		width:30%;
		flex:30 0 30%;
	}

	#shipping_country_field,
	#billing_country_field {
		width:40%;
		flex:1 0 40%;
		// margin-left:0;

		.woocommerce-input-wrapper {
			min-height: 43px;
			display: flex;
			align-items: center;
			font-family:$body-font;
		}
	}

	#billing_city_field,
	#shipping_city_field {
		width:40%;
		flex:40 0 40%;
		// margin-left:0;
	}

	#billing_state_field,
	#shipping_state_field {
		width:30%;
		flex: 30 0 30%;
	}

	#shipping_postcode_field,
	#billing_postcode_field {
		width:25%;
		flex:25 0 25%;
		// margin-right:0;
	}
	
	.billing_address {
		h4 {
			font-family: $body-font;
		    margin-bottom: 0;
		    line-height: 22px;
		    margin-top: 6px;
		}
	}
}

@mixin asc-checkout-section-title {
	font-family:$body-font;
	font-size:18px;
}

// Steps
body.woocommerce-checkout {

	.asc-login-form-switch {
		margin-top:1em;

		a {
			font-weight:bold;
		}
	}

	#order_review,	
	.asc-checkout-step {
		background-color:$asc-grey-lightest;
		border-radius:5px;
		padding:14px;
		margin: 0 auto 12px;
		max-width:480px;
	}

	#order_review_heading {
		@include asc-checkout-section-title;
	}

	form {

		.form-row {
			&.woocommerce-validated {
				input {

					&:focus {
						border-color:$asc-pink;
					}

					&:not(:focus) {

						border-color:transparent;
						border-bottom-color:#888888;	
					}

					&:placeholder-shown,
					&:-ms-input-placeholder,
					&:-moz-placeholder {
						border-color:transparent;
					}
					
				}
			}

			// Make Select2 look like other fields
			.select2 {
				width:100% !important;

				.select2-selection {
					background-color: $input-bg-color;
					border-radius: $input-border-radius;
					border: 2px solid rgba(0,0,0,0);
					padding-top: 10px;
					padding-bottom: 10px;
					margin-bottom:0;

					&[aria-expanded="false"]:not(:hover):not(:focus) {

						.select2-selection__rendered:not(:hover) {
						    &::after {
						    	content:'';
						    	@include fill-parent-abs;
						    	border-width:2px;
						    	border-style:solid;
						    	border-color:transparent;
						    	border-bottom-color:#888888;
					    		border-radius: 4px;
					    		min-width:auto;
						    }
						}
					}

					&:focus {
						border-color:$asc-pink;
						outline:none;
						box-shadow:none;
					}
				}

				.select2-selection__rendered {
					color: #222222 !important	;
				    font-weight: bold;
				    letter-spacing: 0.03em;
				    line-height:19px;

				    
				}
			}
			
		}

		input {
			color:#222222;
			font-weight:bold;
			letter-spacing: 0.03em;
		}
	}

	// Hide Requred asterisks
	abbr.required {
		display:none;
	}

	// Order amounts table(s)
	.woocommerce-checkout-review-order-table,
	.woocommerce-checkout-review-recurring-order-table {
		.product-container {
			background-color:transparent;
			padding:0;


		}

		table.order-review {
			border:none;
			background-color:transparent;
			position:relative;

			&:before {
				content:'';
				display:block;
				position:absolute;
				top:-11px;
				left:-20px;
				right:-20px;
				border-bottom:2px solid #FFFFFF;
			}

			tr {
				background-color:transparent;
			}

			th,
			td {
				border:none;
				
				font-family:$body-font;
				font-size:14px;
				font-weight:bold;
				padding:4px 0;
			}
			
			th {
				letter-spacing: 1px;
				text-transform:uppercase;
			}

			td {
				text-align: right;

			}

			tr.order-total {
				th,
				td {
					font-size:20px;	
					color:#000000;
				}
			}


		}


		.cart_item {
			margin-bottom:12px;

			&:after {
				clear: both;
				display: block;
				content: ' ';
			}

			.product-info {
				padding-right:0 !important;
				float: right;
				width: 75%;

				h4 {
					font-family:$body-font;
					font-size:16px !important;
					margin-bottom:0;
					line-height:22px;
				}

				.variation-attributes {
					// display: inline-block;
					width: 100%;
					// font-size: 80%;
					// line-height: 1;
					color: #666666; //dev:improve //dev:colors
					font-size: 14px;
					font-weight: bold;

				}

				.cart_item__price-wrap {
					font-size:14px;
				}

				.cart_item__qty-unit-price {
					display:inline;

					.product-quantity {
						display:inline;
						font-family:$body-font;
						font-weight:bold;
						font-size: 14px;
						font-weight: bold;

					}

					.woocommerce-Price-amount.amount {
						color:inherit !important;
					}
				}

				.cart_item__subtotal {
					display:inline;
					float:right;

					.woocommerce-Price-amount.amount {
						font-family:$body-font;
						font-weight:bold;
						color:inherit !important;
					}
				}
			}
		} 

		#shipping_method li {
			margin-bottom:0;
			left:0;

			label[for*="free_shipping"] {
				font-family:$body-font-bold;
				text-transform: uppercase;
				// color:#000000;
			}
		}
	}

	.woocommerce-checkout-review-recurring-order-table {

		.cart_item:last-child {
			margin-bottom:0;
		}

		.product-image {
		    float: left;
		    line-height: 1px;
		    width: 20%;
		}

		.recurring-frequency,
		.recurring-renewal {
			font-size:14px;
			font-weight:bold;
		}


	}

	.recurring-order-guarantees {
		max-width:480px;
		margin: 0 auto 12px;
	}
	.recurring-order-guarantee {
		padding-left:30px;
		position:relative;

		i {
			position:absolute;
			color:$asc-pink;
			top:0;
			left:0;
			font-size:20px;
		}

		p {
			font-size:14px;
			font-family:$body-font;
			margin-bottom:0;
		}
	}

	#payment {
		ul.payment_methods {
			padding:0;

			// Hide label if there's only one payment method
			li.wc_payment_method:first-child:last-child {
				
				> label {
					display:none;
				}
			}

			#stripe-payment-data {
				> p {
					display:none;
				}

				#wc-stripe-cc-form {
					margin:0;

					> br,
					> .clear {
						display:none;
					}
				}
			}

			div.payment_box {
				padding:0;
				margin-top:0;
			}

			// Custom radio buttons 
			.wc-saved-payment-methods {

				> li {
					// margin:0 !important;
					line-height:1.2 !important;

					input {
						+ label {
							position:relative;

							&:before {
								display:block;
								position:absolute;
								box-sizing:border-box;
								width:20px;
								height:20px;
								border-radius:10px;
								background-color:#CCCCCC;
								left:-29px;
								top:-1px;
								content:' ';
								border:6px solid #CCCCCC;
								transition:all 0.3s ease;
							}
						}

						&:not(:checked) + label:hover {
							&:before {
								background-color:#AAAAAA;
							}
						}

						&:checked + label {

							&:before {
								border:6px solid $asc-pink;
								background-color:#FFFFFF;		
							}
							
						}
					}
				}
			}
		}
	}


	// Checkout page buttons
	button,
	.btn {
		width:100%;
		margin-top:8px;
		margin-bottom:-3px;
		background-color:$asc-pink;
		border:none;
	}

	.woocommerce-Price-amount.amount {
		font-family:$body-font;
	}

	// WC checkout form errors
	.woocommerce-error {

		margin-bottom:0;
		padding:0;
		background-color: transparent !important;
		color:$color-error !important;
	}

	// Coupon form
	.woocommerce-form-coupon {
		margin:0;
		padding:0;
		border:0;

		.woocommerce-coupons-complete {
			> p {
				padding:0;
				font-size:14px;
				margin-bottom:0.5em;
			}
		}

		div.clear {
			padding:0;
		}
	}
}

@media screen and (max-width: 480px) {
	body.woocommerce-checkout {
		#ajax-content-wrap > .container-wrap > .container {
			max-width:100%;

			.asc-checkout-step {
				border-radius:0;
			}
		}
	}
}

.asc-checkout-step {

	.asc-checkout-step-title {
		position:relative;

		i.fa-check {
			display:none;
			font-size: 16px;
			width:24px;
			text-align: left;
		}

		span.asc-checkout-step-number {
			display:inline-block;
			width:24px;
			// font-size:120%;
			// line-height: 1em;
			
			&:after {
				content:'.';
			}
		}

		h3 {
			@include asc-checkout-section-title;
		}
	}

	.asc-checkout-step-edit {
		display:none;
		position:absolute;
		text-transform:uppercase;
		bottom:4px;
		right:14px;
		font-weight: bold;
		letter-spacing: 0.04em;
	}

	&.step-inactive {

		.asc-checkout-step-body {
			display: none;
		}
	}

	&.step-active {

		.asc-checkout-step-body .step-content-complete {
			display: none;
		}
	}

	&.step-complete {

		.asc-checkout-step-title {

			i.fa-check {
				display:inline-block;
			}

			span.asc-checkout-step-number {
				display:none;
			}
		}

		.asc-checkout-step-edit {
			display: block !important;
		}

		.asc-checkout-step-body .step-content-active {
			display: none;
		}
	}

	&[data-checkout-step="payment"] {

		.woocommerce-checkout-place-order {

			.woocommerce-terms-and-conditions-wrapper {
				margin-top:1em;

				p {
					font-size:14px;
					line-height:18px;
					padding:0;
				}
			}
		}
	}

	// Checkout fields after Shipping step has been completed
	.shipping-field-display {
		float:left;
		margin-left:0.4em;

		&.shipping_address_1,
		&.shipping_city,
		&.billing_phone {
			clear:left;
		}

		&.shipping_city:after {
			content:',';	
		}
	}
}


// Store Credit (Checkout)
td.cart-credit-form {
	text-align:left !important;
	padding-top:0 !important;
	

	.cart-credit-input-wrap {
		text-align:left;
		display:inline-block;
		transition:all 0.3s ease;
		max-width:0;
		overflow:hidden;
		vertical-align:text-bottom;
		white-space:nowrap;
		margin-top:-0.5em;
		margin-bottom:-0.5em;
		
		
		input#apply_credit_update {
			background:none;
			font-family:inherit;
			font-size:inherit;
			font-weight:inherit;
			background-color:rgba(0, 0, 0, 0.04);
			border-radius:4px;
			padding:0.5em;
			margin-left:-0.8em;
			width:80px;
		}

		&::before {
			content:'$';
			position:relative;
			left:0.5em;
		}

		&::after {
			content:' / ';
			color:$color-text-muted;
		}
	}

	form.checkout,
	p.form-row-wide {
		display:inline-block;
	}

	input {
		border:0;
		text-align:right;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			display:none;
		}
	}

	.checkout-description {
		color:$color-text-muted;
	}

	input#apply_credit {
		display:none;
	}

	

	.cart-credit-action {
		margin:0 0.5em;
	}

	.cart-credit-cancel {
		display:none;
		color:$color-text-body;
	}

	// Cart Credit states
	&.credit-applied {
		.cart-credit-input-wrap {
			max-width:100px;
		}
	}

	&.credit-update-open {

		.cart-credit-input-wrap {
			max-width:100px;
		}
		

		&:not(.credit-applied).cart-credit-cancel {
			display:inline-block;
		}
	}

}
