
.shop_table.subscription_details {

	a.button {
		margin-bottom: 5px;
	}
}

// View subscription page - change frequency modal
#subscription-frequency-modal {

	.new-renewal-date {

		.value {
			color: #000;
			font-weight: bold;
		}
	}
}