

.asc-col-display-title {

	h2, h3 {
		font-family: 'Sun Valley', serif !important;
		color:$color-text-dark;
		font-size:116px !important;
		-webkit-font-smoothing: subpixel-antialiased;
		font-weight:normal;
		margin-bottom:0.2em;
		line-height:1.2;

		@media screen and (max-width:1199px) {
			font-size:70px !important;
		}

		@include small-screen {
			font-size:42px !important;
		}
	}
}