/**
 * ASC Custom signup flow
 */



// .asc-slick-slider .slick-current.asc-slick-slide {
//     transform: matrix(1,0,0,1,0,0);
//     opacity: 1;
//     border-color: #be3d6b;
//     background-color: rgba(190,61,107,.2);
// }

// .asc-slick-slider .slick-current.asc-slick-slide::before {
//     font-family: fontawesome;
//     display: block;
//     position: absolute;
//     top: 3px;
//     right: 5px;
//     color: #be3d6b;
//     content: '\f00c';
//     font-size: 20px;
// }


body.page-template-onyx-template-asc-signup {

	font-size:14px;

	// p, li, span {
	// 	font-size:14px;
	// }

	header#top {

		.row {

			.col.span_3 {
				text-align:center !important;
			}

			nav,
			.col.span_9 {
				display:none !important;
				opacity:0 !important;
				pointer-events:none !important;
			}
		}
	}
}


.asc-signup-step-header {
	text-align:center;
	

	@include desktop {
		margin-top:100px;
		margin-bottom:20px;	
	}
	

	@include small-screen {
		margin-top:0;
	}

	.asc-signup-step-count {
		height:1.2em;
	}

	.asc-signup-step-title {
		font-size:36px;

		@include small-screen {
			font-size:22px;
			margin-top:4px;
		}
	}

	.asc-signup-step-subtitle {
		font-size:14px;
		letter-spacing:0.03em;
		font-weight:500;
	}
}


.asc-signup-content-title {
	font-style:oblique;
	text-transform:uppercase;
}

.asc-signup-step-ctas {

	
	text-align:center;

	@include desktop {
		margin-top:30px;	
	}
	

	> * {
		display:inline-block;
		border:none !important;
		font-weight:bold !important;
		font-size:16px;
		cursor:pointer;
		padding-left:1.4em;
		padding-right:1.4em;
		font-family:'Montserrat', sans-serif;
	}

	.nectar-button {
		background-color:$asc-pink;
	}

	.asc-signup-btn-back {
		color:$color-text-muted;
		margin-top: -8px;
	    display: inline-block;
	    vertical-align: middle;
	    background:transparent !important;

		&:hover {
			color:$color-text-dark;
		}

	}
}

.asc-signup-price {
	font-size: 30px;
	font-weight: bold;

	.asc-signup-price-compare {
		margin-left:0.2em;
		text-decoration: line-through;
		font-weight: 500;
		    font-size: 0.6em;
	}
}

.asc-slick-slider {
	max-width: 800px;

	@include desktop {
		margin: 30px auto;	
	}

	.asc-slick-slide {
		display:block;
		border-radius:5px;
		padding:20px 0 10px;
		position:relative;
		// max-width:200px;
		// margin:0 auto;
		margin:12px;
		position:relative;
		transition:all 0.3s ease;
		// opacity:0;
		transform: matrix(0.8,0,0,0.8,0,0);
		@include asc-selectable;

		&.selected {

			transform: matrix(1,0,0,1,0,0);
			opacity:1;
			@include asc-selectable-selected;

			&::before {
				font-family:'FontAwesome';
				display:block;
				position:absolute;
				top:3px;
				right:5px;
				color:$asc-hot-pink;
				content:'\f00c';
				font-size:20px;
			}
		}

		&:not(.selected):hover {
			border-color:#CCCCCC;
		}
	}
	

	// .slick-slide {
	// 	backface-visibility:hidden;
	// 	 -webkit-backface-visibility: hidden;
	// 	padding:12px;
	// 	text-align:center;

		

	// 	.asc-slick-slide {
	// 		display:block;
	// 		border-radius:5px;
	// 		padding:20px 0 10px;
	// 		position:relative;
	// 		// max-width:200px;
	// 		margin:0 auto;
	// 		position:relative;
	// 		transition:all 0.3s ease;
	// 		// opacity:0;
	// 		transform: matrix(0.8,0,0,0.8,0,0);
	// 		@include asc-selectable;
	// 	}

	// 	&.slick-active {

	// 		.asc-slick-slide {
	// 			opacity:1;
	// 		}
			
	// 	}

	// 	&.slick-current {
	// 		.asc-slick-slide {
	// 			transform: matrix(1,0,0,1,0,0);
	// 			opacity:1;
	// 			@include asc-selectable-selected;

	// 			&::before {
	// 				font-family:'FontAwesome';
	// 				display:block;
	// 				position:absolute;
	// 				top:3px;
	// 				right:5px;
	// 				color:$asc-hot-pink;
	// 				content:'\f00c';
	// 				font-size:20px;
	// 			}
	// 		}
	// 	}

	// 	&.slick-cloned {
	// 		.asc-slick-slide {
	// 			transform: matrix(0.8,0,0,0.8,0,0);
	// 		}
	// 	}
		

	// 	// @include asc-selectable('slick-current');

	// 	&:not(.slick-current) {
	// 		.asc-slick-slide {
	// 			border-color:rgba($asc-hot-pink, 0);
	// 		}
	// 	}

	// 	img {
	// 		margin:0 auto;
	// 	}
	// }
}

.asc-select-caption {
	text-align:center;
	font-family:'Playfair Display', serif;
	font-weight:300;
	font-style:oblique;
}



/**
 * STEP-SPECIFIC STYLES
 */

// Step 0
.asc-signup-step[data-asc-signup-step="0"] {
	display:block;

	.asc-signup-step-content {

		> .row {
			max-width:600px;
			margin:0 auto;

			> .col {
				width:49% !important;

				@media screen and (max-width:480px) {

					&:first-child {
						width:29% !important;
					}

					&:last-child {
						width:70% !important;
						margin-bottom:0;
					}
					
				}
			}
		}
	}



	.asc-starter-set-img {

		img {
			width:100%;
			height:auto;
			position:relative;
			margin:0 auto;
			max-width:300px;
		}
	}
}


// Step 1 (Choose handle color)
.asc-signup-select-handle {

		display:flex;
		align-items: center;
  		justify-content: center;

		.asc-slick-slide {
			max-width:200px;
			width:100%;
			text-align:center;
			float:left;


		}

		&.slick-current {

			.asc-slick-slide {

				&::before {
					font-family:'FontAwesome';
					display:block;
					position:absolute;
					top:3px;
					right:5px;
					color:$asc-hot-pink;
					content:'\f00c';
					font-size:20px;
				}
			}
		}
	}

// Step 2 (Choose Frequency)
.asc-signup-select-frequency-option {
	padding-left:5px !important;
	padding-right:5px !important;

	.asc-signup-content-title {
		span {
			display: inline-block;
			white-space: nowrap;
		}
	}
}

.asc-signup-select-frequency {

	margin-bottom:12px;
    display: flex;
    flex-wrap: nowrap;
	text-align: center;

    .asc-signup-select-frequency-option {
    	width:50%;

    	&.selected { 
    		.asc-frequency-legs {
				opacity:0;

			}
			.asc-frequency-legs-selected {
				opacity:1;
				left:0;
			}
    	 }
    }


	.slick-list {
		padding:0 !important;
	}

	.asc-frequency-legs-wrap {
		display:inline-block;
		position:relative;
		margin:0 auto;
		width:auto;
		margin-bottom:20px;

		@media screen and (max-width:480px) {
			float: left;
			width: 50px;
		}
	}

	.asc-frequency-legs {
		opacity:1;
	}

	.asc-frequency-legs-selected {
		opacity:0;
		position:absolute;
		top:0;
		left:0;
	}

	h3, 
	em {
		opacity:0.8;
	}

	h3,
	em,
	.asc-frequency-legs,
	.asc-frequency-legs-selected {
		transition:all 0.3s ease;
	}

	//.slick-slide {

		@media screen and (max-width:480px) {
			padding-top:0;
			padding-bottom:0;
			flex-direction:column;


			.asc-signup-select-frequency-option {
				width:100%;
				margin-left:0;
				margin-right:0;
			}
		}


		&.selected {

			.asc-frequency-legs {
				opacity:0;
			}

			h3, 
			em,
			.asc-frequency-legs-selected {
				opacity:1;
			}
		}
	// }
}

// Step 3 (Choose Addons)
.asc-signup-addons-wrap {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;



	.asc-signup-addon {
		position:relative;
		flex: 1 0 33%;
		max-width: 320px;
		text-align:center;
		padding:20px 10px;
		margin:6px;
		border-radius:5px;
		cursor:default !important;

		@include asc-selectable;

		.asc-signup-addon-ctas-wrap {
			margin-top:24px;
			position:relative;
			    width: 100%;
		}

		.asc-signup-addon-ctas {
			display:inline-block;
			position:relative;

		}


		.asc-signup-addon-handle-swatches {
			float:left;

		}


		.asc-signup-addon-remove-btn {
			display:none;
			position:absolute;
			bottom:-15px;
			z-index:10;
			color:$color-text-dark;
			background:transparent !important;
			border:0;
			width:100%;
			font-size:14px;
			font-family:'Montserrat', sans-serif;
			font-weight:500;
			cursor:pointer;

			&:hover {
				color:#000000;
			}
		}

		.asc-signup-addon-btn {
			border:0;
			background:$asc-pink;
			cursor:pointer;
			margin-bottom:0;
			min-width:90px;
			padding-top: 10px;
			padding-bottom: 10px;

			&.asc-signup-addon-btn-extra-handle.handle-not-selected {
				pointer-events:none;
				cursor:default;
				color:$asc-hot-pink;
				background-color:transparent !important;


			}
		}

		.asc-signup-addon-handle-value {
			display:block;
			position:absolute;
			bottom:100%;
			left:12px;
			color:$color-text-dark;

		}

		&.selected {
			&::before {
				font-family:'FontAwesome';
				display:block;
				position:absolute;
				top:3px;
				right:5px;
				color:$asc-hot-pink;
				content:'\f00c';
				font-size:20px;
			}

			.asc-signup-addon-btn {

				pointer-events:none;
				cursor:default;
				color:$asc-hot-pink;
				background-color:transparent !important;
				

				&:after {
					content:'ed';
				}
			}

			.asc-signup-addon-remove-btn {
				display:block;
			}
		}

		&:not(.selected) {
			border-color:transparent;


		}
	}

	@include mobile {
		flex-direction:column;
		flex-wrap:wrap;
		max-width: 400px;
		    margin: 0 auto;
		    margin-bottom:16px;

		.asc-signup-addon {
			width:100%;
			max-width: 100%;
			padding-left:20%;
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			text-align: left;
			padding-top:5px;

			.asc-signup-addon-img {
				position:absolute;
				width:20%;
				left:0;
				top:3px;
				padding:10px;

				img {
					width:100%;
					height:auto;
				}
				
			}

			.asc-signup-addon-price {
				text-align: right;
			}

			.asc-signup-addon-ctas-wrap {
				text-align:center;

				&:not(.asc-signup-addon-extra-handles-wrap) {
					margin-top:0;
				}
			}
			
		}
	}

	.asc-signup-addon-handle-swatches {


	}
}

table.asc-signup-addon-extra-handles-wrap {
	background-color:transparent !important;
	border:0 !important;

	tr {
		background-color:transparent !important;
	}

	td {
		vertical-align: middle;
		text-align:center;
		background-color:transparent !important;
		padding: 3px !important;
		border:0 !important;

		&:last-child {
			width:100%;
		}
	}
}

.asc-signup-addon-img {

	img {
		border-radius: 5px;	
	}
	
}

.asc-signup-addon-price {
	font-size:20px;
	margin:6px auto 10px;
	color:$color-text-dark;
}

.asc-signup-addon-description {
	font-size:12px;
	padding-bottom:6px;
}
