/**
 * 
 * SASS for WooCommerce PDP
 */

$asc-color-lovepink: 	#df92c1;
$asc-color-kissblue: 	#86aac5;
$asc-color-rosebud: 	#be3d6b;


body.woocommerce.single-product {

	// Hide WC breadcrumbs
	.woocommerce-breadcrumb {
		display:none;
	}

	.summary.entry-summary {

		> * {
			max-width: 380px;
			margin: 0 auto;	
		}

		.price {
			font-weight:400 !important;
			font-size:24px !important;
			margin-top:4px !important;
			color:#676767 !important;
			padding-bottom:16px;
		}

		.variations_form {

			table.variations {
				width:100% !important;
			}

			.reset_variations {
				display:none !important;
			}

			tr.asc-pdp-attribute {
				display:flex;
				flex-direction:row;

				td.label {
					display:flex;
					flex-direction:column;
					flex-wrap:nowrap;
					padding:0;
					justify-content: center;

					label {
						text-transform: uppercase;
					    font-size: 13px;
					    letter-spacing: 0.05em;
					    color: #424242;
					    margin-bottom: 5px;
					    display: block;
					}

					.attribute-selected-value {
						font-size:14px;
						line-height:18px;
						font-weight:500 !important;
						min-height:18px;
						display:block;

						// color: #424242;

						
					}
				}


				
				


				&[data-attribute-select="pa_handle-color"] {

					td.value {
						flex: 1 0 auto;
					    // display: flex;
					    // flex-direction: row;
					    // align-items: stretch;
					    // justify-content: flex-end;

					    
					}

					// Moved out of nesting
					// 
					// .pdp-custom-option {
					// 	float:right;
					// 	display: flex;
					// 	flex-direction: row;
					// 	align-items: center;
					// 	justify-content: flex-end;
					// }

					select,
					.fancy-select-wrap {
						display:none !important;
					}
				}

				
			}

			
		}

		button[type="submit"].single_add_to_cart_button {
			width:100%;
			font-size:18px !important;
		}

		.pdp-free-shipping-note-wrap {
			margin:24px 0 16px;
			width:100%;
			display:block;
			float:left;

			img {
				display:inline-block;
				vertical-align: sub;
				margin-right:0.5em;
			}
		}

		.product_meta {


			// Hide "Categories product meta"
			.posted_in {
				display:none;
			}
		}
	}
}

.pdp-custom-option {
	float:right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.asc-swatch-wrap {
	display:block;
	margin-left:6px;
	

	label.asc-swatch {
		display:block;
		height:32px;
		width:32px;
		border-radius:19px;
		cursor:pointer;

		background-clip:content-box;
		padding:2px;
		box-sizing:content-box;

		transition:all 0.3s ease;

		border-style:solid;
		border-color:transparent;
		border-color:rgba(0,0,0,0);
		border-width:2px;

		&:hover {
			border-color:#666666;
			border-color:rgba(0,0,0,0.25);
		}

		&[data-option-value="california-kiss-blue"] {
			background-color:$asc-color-kissblue;
		}

		&[data-option-value="la-la-love-pink"] {
			background-color:$asc-color-lovepink;
		}

		&[data-option-value="rose-bud"] {
			background-color:$asc-color-rosebud;
		}



	}

	input {
		display:none;

		&:checked {
			~ label.asc-swatch {
				border-color:black !important;
				border-color:rgba(0,0,0,0.75) !important;
			}
		}
	}
}

html .woocommerce .main-content .quantity input[type="button"] {
	&.minus,
	&.plus {
		
		font-size:21px;
		text-align:center;
		box-shadow:none;
		height: 24px !important;

		&:not(:hover) {

			background-color:#E5E5E5 !important;
		}
	}
}

